@font-face {
  font-family: "GothamBold";
  src: url(/Gotham-Font/GothamBold.ttf) format("truetype");
}
@font-face {
  font-family: "GothamBook";
  src: url(/Gotham-Font/GothamBook.ttf) format("truetype");
}
@font-face {
  font-family: "GothamLight";
  src: url(/Gotham-Font/GothamLight.ttf) format("truetype");
}
@font-face {
  font-family: "GothamMedium";
  src: url(/Gotham-Font/GothamMedium.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tesla-logo {
  width: 150px;
  height: 40px;
  float: left;
}

.main-nav,
ul {
  list-style: none;
  margin-left: 50px;
}

.main-nav ul li {
  font-family: "GothamBold", sans-serif;
  color: #fff;
  font-size: 19px;
  float: left;
  padding-top: 10px;
  margin-left: 100px;
}

.main-nav-side ul li {
  font-family: "GothamBold", sans-serif;
  color: white;
  font-size: 19px;
  float: right;
  padding-top: 10px;
  margin-right: 20px;
}

.contanier .hero-1 .hero-content,
h1 {
  font-family: "GothamBook", sans-serif;
  color: white;
  text-align: center;
  padding-top: 170px;
  font-size: 60px;
}

h2 {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 400px;
  font-family: "GothamLight", sans-serif;
}

.contanier {
  margin: 20px auto;
}

.hero-1 {
  background: url("/imgs/Model-3-Main-Hero-Section-LHD.jpeg") no-repeat center
    center/cover;
  height: 100vh;
}

.icons-btn ul {
  list-style: none;
  text-align: center;
}

.icons-btn ul li {
  color: white;
  font-family: "GothamMedium", sans-serif;
  display: inline;
  font-size: 30px;
  padding-right: 120px;
}

.btn {
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 80px;
  background: none;
  font-family: "GothamMedium", sans-serif;
  font-size: 20px;
}

ol li {
  color: white;
  list-style: none;
  display: inline;
  font-family: "GothamMedium", sans-serif;
  font-size: 17px;
  margin-left: 300px;
}

.info-img {
  float: left;
  width: 80%;
  background: url(/imgs/model-3-hero-a-desktop.jpeg) no-repeat center
    center/cover;
  height: 100vh;
}

.info-content h4 {
  font-family: "GothamLight", sans-serif;
  font-size: 18px;
  float: right;
  width: 20%;
  text-align: left;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.info-content h3 {
  font-family: "GothamBook", sans-serif;
  font-size: 30px;
  padding-bottom: 30px;
}

.more-info {
  font-family: "GothamBook", sans-serif;
  font-size: 15px;
  padding-top: 10px 20px;
  color: rgb(47, 46, 46);
  line-height: 1.5em;
  margin-right: 50px;
}

.more-info a {
  text-decoration: none;
  text-decoration: underline;
  color: rgb(47, 46, 46);
}

.more-info a:hover {
  text-decoration: underline solid 2px;
}
