@font-face {
  font-family: "GothamBold";
  src: url(/Gotham-Font/GothamBold.ttf) format("truetype");
}
@font-face {
  font-family: "GothamBook";
  src: url(/Gotham-Font/GothamBook.ttf) format("truetype");
}
@font-face {
  font-family: "GothamLight";
  src: url(/Gotham-Font/GothamLight.ttf) format("truetype");
}
@font-face {
  font-family: "GothamMedium";
  src: url(/Gotham-Font/GothamMedium.ttf) format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.tesla-logo {
  width: 150px;
  height: 40px;
  float: left;
}

.btn-chat {
  background: white;
  position: fixed;
  left: 1800px;
  bottom: 120px;
  padding: 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-arrow {
  background: none;
  position: absolute;
  left: 900px;
  top: 890px;
  padding: 15px;
  cursor: pointer;
  border: 0;
}

.btn-arrow i {
  color: white;

  font-size: 20px;
  animation: move 1s infinite;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.main-nav,
ul {
  list-style: none;
  margin-left: 50px;
}

.main-nav ul li {
  font-family: "GothamBold", sans-serif;
  color: #fff;
  font-size: 19px;
  float: left;
  padding-top: 10px;
  margin-left: 100px;
}

.main-nav-side ul li {
  font-family: "GothamBold", sans-serif;
  color: white;
  font-size: 19px;
  float: right;
  padding-top: 10px;
  margin-right: 20px;
}

.contanier .hero-1 .hero-content,
h1 {
  font-family: "GothamBook", sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
  padding-top: 150px;
}

h2 {
  font-size: 15px;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 400px;
  font-family: "GothamLight", sans-serif;
}

.contanier {
  max-width: 960px;
  margin: 30px auto;

  /* left: 500px; */
}

.box-section-1 {
  position: relative;
  right: 100px;
  top: 180px;
  text-align: center;
}

.hero-1 {
  background: url("/imgs/Model-3-Main-Hero-Section-LHD.jpeg") no-repeat center
    center/cover;
  height: 100vh;
}

.btn-dark {
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px 70px;
  background: none;
  font-family: "GothamMedium", sans-serif;
  font-size: 15px;
  position: relative;
  left: 10px;
  /* margin-right: 600px; */
}

.btn-dark:hover {
  color: black;
  background: white;
  cursor: pointer;
}

.info-img {
  float: left;
  width: 80%;
  background: url(/imgs/model-3-hero-a-desktop.jpeg) no-repeat center
    center/cover;
  height: 80vh;
}

.info-content h4 {
  font-family: "GothamLight", sans-serif;
  font-size: 18px;
  float: right;
  width: 20%;
  text-align: left;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}

h6 {
  font-size: 18px;
  font-family: "GothamLight", sans-serif;
  padding-top: 100px;
  color: rgb(52, 49, 49);
}

h3 {
  font-size: 30px;
  font-family: "GothamBook", sans-serif;
  padding-top: 10px;
  padding-bottom: 30px;
  color: rgb(52, 49, 49);
}

.more-info span {
  color: #606162;
  font-family: "GothamMedium", sans-serif;
}

.more-info {
  font-family: "GothamBook", sans-serif;
  font-size: 15px;
  color: rgb(98, 94, 94);
  line-height: 1.2em;
  margin-right: 50px;
}

.btn-section-2 {
  padding-top: 400px;
  margin-bottom: 100px;
}

.more-info a {
  text-decoration: none;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: rgb(47, 46, 46);
}

.more-info a:hover {
  text-decoration: underline solid 2px;
}

.btn-light {
  color: rgb(77, 75, 75);
  border: 3px solid black;
  border-radius: 5px;
  padding: 9px 65px;
  margin-right: 20px;
  background: none;
  font-family: "GothamMedium", sans-serif;
  font-size: 15px;
  float: right;
}

.btn-light:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.btn-light-plus {
  color: black;
  border: 3px solid black;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
  background: none;
  font-family: "GothamLight", sans-serif;
  font-size: 30px;
  float: right;
  margin-right: 7px;
  /* margin-right: 20px; */
}

.learn-more {
  /* color: rgb(120, 120, 120);  */
  color: rgb(100, 99, 99);
  border: none;
  background: none;
  font-family: "GothamMedium", sans-serif;
  font-size: 15px;
  float: right;
  /* margin-righ; */
  /* padding-top: 5px; */
  padding-right: 7px;
  padding-top: 10px;
}

/* .box-section-2 {
font-size:;
} */

.third-section {
  width: 100%;
  background: url(/imgs/Model-3-horizental.jpg) no-repeat center center/cover;
  height: 80vh;
}

.icons-details ul li {
  font-size: 15px;
  font-family: "GothamBook", sans-serif;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}

.box-section-3 ul {
  /* max-width: 960px;
  margin: 30px auto;
  /* padding-left: 500px; */
  /* text-align: center; */
  /* padding-top: 550px; */
}

/* .third-section .box-section-1 {
  min-width: 960px;
  margin: 30px auto;
  position: relative;
  right: 100px;
  top: 180px;
  text-align: center;
} */

/* .hero-1 {
  height: 100vh;
} */

.btn-section-1 {
  float: right;
}

.s-3-1 {
  float: right;
  position: absolute;
  left: 200px;
}

.mph-162 {
  float: right;
  position: absolute;
  left: 350px;
}

.awd {
  float: right;
  position: absolute;
  left: 550px;
}

h5 {
  color: white;
  font-size: 26px;
  font-family: "GothamBook", sans-serif;
}

/* .contanier-3 {
  max-width: 960px;
  margin: 30px auto;
  /* position: relative; */

/* .third-section .box-section-1 {
  float: right;
  position: absolute;
  left: 200px;
} */

.contanier-3 ul li {
  padding-left: 20px;
  /* line-height: 1em; */
}

.contanier-2 {
  margin-bottom: 10px;
}

.contanier {
  margin-top: 0;
  /* padding-top: 150px; */
  /* padding-bottom: 150px; */
  /* margin-left: 700px; */
  /* text-align: center; */
}

h4 {
  color: white;
  font-size: 12px;
  font-family: "GothamLight", sans-serif;
  line-height: 3em;
}

.third-section .box-section-1-last ul {
  /* היה פה ul li  */
  max-width: 960px;
  margin: 30px auto;
  /* position: relative;
  top: 500px; */
}

.third-section .box-section-1-last .awd {
  margin-left: 550px;
  padding-top: 550px;
  text-align: center;
}

.third-section .box-section-1-last .mph-162 {
  margin-left: 450px;
  padding-top: 550px;
  text-align: center;
}

.third-section .box-section-1-last .s-3-1 {
  margin-left: 400px;
  padding-top: 550px;
  text-align: left;
}
/* 
.third-section .box-section-1-last ul h5 {
  padding-right: 150px;
  padding-left: 150px;
} */

.third-section .box-section-1-last ul li h4 {
  text-align: center;
  font-size: 12px;
  line-height: 1.5em;
}

.third-section .box-section-1-last .awd ul li h4 {
  color: white;
}

.third-section .box-section-1-last .mph-162 ul li h4 {
  color: white;
}

.third-section .box-section-1-last .s-3-1 ul li h4 {
  padding-right: 40px;
  color: white;
  position: relative;
  right: 100px;
}

/* .third-section .box-section-3 ul {
  padding-left: 400px;
} */

/* .third-section .box-section-3 ul li {
} */

/* .third-section .box-section-3 ul li {

} */

.third-section .contanier-3 ul li h4 {
  color: black;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.contanier-4 {
  max-width: 960px;
  margin: 30px auto;
}

.footer {
  /* padding-top: 30px;
  padding-bottom: 10px; */
  margin-right: 200px;
  position: relative;
}

.text {
  position: absolute;
  top: 20px;
  right: 220px;
  font-family: "GothamBook", sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  color: rgb(79, 77, 77);
}

.contanier-4 .text a {
  text-decoration: none;
  text-decoration: underline;
  color: rgb(47, 46, 46);
  text-underline-offset: 3px;
}

.contanier-4 .text a:hover {
  text-decoration: underline solid 2px;
}

.footer .contanier-4 h6 {
  padding-top: 10px;
  font-size: 17px;
  color: rgb(79, 77, 77);
}

.footer .contanier-4 h3 {
  padding-top: 7px;
  font-size: 27px;
}

.contanier-4 .btn-section-2-last-section {
  position: absolute;
  padding-bottom: 50px;
  padding-right: 500px;
}

/* .contanier-4 .btn-section-2-last-section .btn-light {
  color: black;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px 70px;
  background: none;
  font-family: "GothamMedium", sans-serif;
  font-size: 15px;
} */

/* .third-section .box-section-3 .mph-162 ul li h4 {
  color: black;
  /* line-height: 1em; */
/* padding-left: 30px;
  padding-right: 30px; */

/* .third-section .box-section-3 .awd ul li h4 {
  color: black;
  /* line-height: 1em; */
/* padding-left: 30px;
  padding-right: 30px; */

/* .third-section .box-section-3 .mph-162 ul li h5 h4 {
  color: black;
  font-size: 20px;
  font-family: "GothamLight", sans-serif;
  line-height: 3em;
} */
/* .contanier-4 {
  max-width: 960px;
  margin: 30px auto;
  height: 50vh;
}

.contanier-4 h3 {
  padding: 0;
}

.contanier-4 h6 {
  padding: 0;
}

.contanier-4 h6 .text {
  font-family: "GothamLight", sans-serif;
  font-size: 18px;
  border: 2px solid black;
  padding-left: 100px;
}

.contanier-4 .btn-section-2 last-section {
  padding: 0;
  /* margin-right: 100px; */

/* footer {
  height: 20vh;
} */

/* .last-section {

} */

/* .mph-162 ul li h4 {
  color: white;
  font-size: 15px;
  font-family: "GothamLight", sans-serif;
  line-height: 1.3em;
} */

/* .awd ul li h4 {
  color: white;
  font-size: 15px;
  font-family: "GothamLight", sans-serif;
  line-height: 1.3em;
} */

/* .third-section .box-section-third .icons-btn-third ul li .s-3.1 h5 {
  color: white;
  font-family: "GothamBook", sans-serif;
  font-size: 28px;
}

.third-section .box-section-third .icons-btn-third ul li h4 {
  color: white;
  font-family: "GothamLight", sans-serif;
  font-size: 15px;
} */

/* .icons-btn-third ol li {
  color: white;
  list-style: none;
  font-family: "GothamBold", sans-serif;
  font-size: 10px;
} */
